@media screen and (max-width: 800px) {
    header {
        .menu {
            text-align: center;
        }
    }

    .main {
        .trabajos {
            .contenedor-trabajos {
                .trabajo {
                    width: 46%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    header {
        .contenedor-texto {
            .texto {
                .nombre {
                    font-size: 35px;
                }

                .profesion {
                    font-size: 18px;
                }

            }
        }
    }

    footer {
        .redes-sociales {
            .contenedor {
                flex-wrap: wrap;

                a {
                    padding: 20px;
                }
            }
        }
    }
}